@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* Default font size for paragraphs */
    font-size: 14px;

    /* Primary Colors */
    --darkCyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    /* Neutral colors */
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkGrayishBlue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

}

body {
    background-color: var(--cream);
    font-family: 'Monsterrat', Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* css for the Fraunces font */
.headers h1, .price strong {
    font-family: 'Fraunces', Arial, Helvetica, sans-serif;
}
