* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* Default font size for paragraphs */
    font-size: 14px;

    /* Primary Colors */
    --darkCyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    /* Neutral colors */
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkGrayishBlue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

}
